@media screen and (min-width: 600px) {
    .grid-child {
        grid-template-columns: 1fr 2fr;
    } 

    .card {
        width: 600px;
    }
    
    form {
        width: 600px;
    }

    nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
        display: block;
	}

    #menu {
        display: none;
    }
}