
@media screen and (min-width: 600px) {

    html {
        height: 100%;
    }

    body {
        width: 100%;
        min-height: 100%;
        display: grid;
        grid-template-rows: auto 1fr auto;
    }

    main {
        max-width: 800px;
        grid-template-rows: auto auto 1fr;
        /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }

    header {
        width: 100%;
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

    footer {
        width: 100%;
        height: 3rem;
        padding: 1rem 0;
        margin: 1rem 0 0;
    }

    nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
        display: block;
	}

    main h2 {
        grid-column: span 3;
    }

    figure {
        width: 100%;
    }

    #menu {
        display: none;
    }

    .res-grid {
        grid-template-columns: 1fr 1fr 1fr;
        margin: 0 auto;
        width: 100%;
        grid-column: span 3;
        gap: 1rem;
        text-align: center;
        font-size: small;
    }

    .res-grid section {
        background-color: #DDF;
        padding: .5rem;
        border: 1px solid skyblue;
    }

    .res-grid h3 {
        text-align: center;
    }

    .res-grid span {
        color: navy;
    }
}

