
@media screen and (min-width: 600px) {
    main {
        max-width: 800px;
        margin: 0 auto;
        grid-template-rows: 2fr 1fr auto;
        /*grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));*/
        grid-template-columns: 1fr 1fr 1fr;
        place-items: center;
    }

    header {
		display: flex;
		align-items: center;
		justify-content: space-between;
	}

    nav ul {
		justify-content: flex-end;
		flex-direction: row;
	}
	nav a {
		flex: 1 1 100%;
        display: block;
	}

    main h1, h2 {
        grid-column: span 3;
    }

    figure {
        width: 100%;
    }

    #menu {
        display: none;
    }
}

